form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 15px 0 60px 25%;
    border-radius:10px;
}

input{
    padding-bottom: 20px;
}

button{
    background-color: #171e3e;
    padding: 25px;
    color:#f5ff4f;
}